// Custom Fonts
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// Variables
$primary: rgba(0, 0, 0, 1);
$secondary: rgba(0, 0, 0, 0.32);
// $link: #FFBC8C;
$link: #000;
$link-visited: $secondary;
$spacing: 1em;
$family-primary: "Red Hat Display", BlinkMacSystemFont, -apple-system,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Raleway", BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-weight-extra-bold: 900;
$column-gap: $spacing;
